.auth-box {
    width: 50vw;
    height: 94vh;
    min-height: 500px;
    background-color: #f2f2f2;

    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 3vh;
    border-radius: 10px;
}

.auth-box__title {
    font-family: "Sans Serif";
    font-size: 2.5rem;
    color: #08413C;
    margin-top: 10%;
    margin-bottom: 5%;
}

.auth-box__content {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.auth-box__content__inputs {
    width: 100%;
}

.auth-box__content__button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-box__footer {
    font-family: "Handelson Three", cursive;
    font-size: 5rem;
    font-weight: 500;
    color: #0E675F;

    position: absolute;
    bottom: 0;
}