.auth-box {
    width: 50vw;
    min-width: 300px;
    height: 94vh;
    min-height: 550px;

    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2d3;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 3vh;
    box-sizing: border-box;
    border-radius: 30px;
    border: 5px solid #08413C;
}

.auth-box__title {
    font-family: "Sans Serif";
    font-size: 2.7rem;
    text-align: center;
    color: #08413C;
    margin-top: 10%;
    margin-bottom: 5%;
}

.auth-box__content {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.auth-box__content__inputs {
    width: 100%;
}

.auth-box__content__button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-box__link-extra {
    font-family: "Sans Serif";
    font-size: min(3.5vw, 1.3rem);
    text-decoration: underline;
    text-align: center;
    color: #0E675F;
    position: absolute;
    bottom: clamp(50px, 15%, 25vh);
    left: clamp(2%, 4%, 30px);
}

.auth-box__link-extra:hover {
    color: #117c4c;
}

.auth-box__footer {
    font-family: "Handelson Three", cursive;
    font-size: 5rem;
    font-weight: 500;
    color: #0E675F;

    position: absolute;
    bottom: 0;
}