.input-group {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
}

.input-group__input {
    width: 100%;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    outline: none;

    border-radius: 8px;
    border: 2px solid #08413C;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.input-group__input--password {
    padding-right: 34px;
}

.input-group__input--grande {
    resize: none;
    height: 190px;
    padding-top: 5px;
}

.input-group__label {
    color: #6C757D;
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 5px;

    transition: all 200ms ease-in-out;
}

.input-group__input:valid~.input-group__label {
    top: 0;
    transform: translateY(-120%);
    font-size: 1.3rem;
    color: #6C757D;
}

.input-group__input:focus~.input-group__label {
    top: 0;
    transform: translateY(-120%);
    font-size: 1.3rem;
    color: #0E675F;
}

.input-group__input:focus {
    border-color: #0E675F;
}

.input-group__ojo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    cursor: pointer;
}