.input-group {
    font-family: "Kdam Thmor";
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 40px;
}

.input-group__input {
    width: 100%;
    height: 30px;
    font-family: inherit;
    font-size: inherit;

    border-radius: 8px;
    border: 2px solid #08413C;
    box-sizing: border-box;
    padding-left: 5px;
}

.input-group__label {
    color: #6C757D;
}