.input-group {
    font-family: "Hind Siliguri" ,Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
}

.input-group__input {
    width: 100%;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    outline: none;

    border-radius: 8px;
    border: .12rem solid #0E675F;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    transition: all ease-in-out 200ms;
}

.input-group__input--password {
    padding-right: 34px;
}

.input-group__input--grande {
    resize: none;
    height: 190px;
    padding-top: 5px;
}

.input-group__input--medio {
    font-size: 1.1rem;
    resize: none;
    height: 100px;
    padding-top: 5px;
}

.input-group__label {
    color: #6C757D;
    position: absolute;
    pointer-events: none;
    top: 2px;
    left: 5px;

    transition: all 250ms ease-in-out;
}

.input-group__input:valid {
    border-color: #08413C;
}

.input-group__input:valid~.input-group__label {
    top: 0;
    transform: translateY(-100%);
    font-size: 1.3rem;
    color: #6C757D;
}

.input-group__input:focus~.input-group__label {
    top: 0;
    transform: translateY(-100%);
    font-size: 1.3rem;
    color: #117c4c;
}

.input-group__input:focus {
    border-color: #117c4c;
    box-shadow: 0px 0px 4px #08413C;
}

.input-group__input:disabled {
    background: #ffff;
    border-color: #6C757D;
}

.input-group__ojo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    cursor: pointer;
}