.popup {
    width: 100vw;
    height: 100vh;

    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1a1a1a70;
    backdrop-filter: blur(1px);

    z-index: 10;
}

.popup__content {
    width: 55vw;
    height: 40vh;

    background: #f5f5f5;

    padding: 40px;
    border-radius: 1rem;

    position: relative;
}

.popup__content__close {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    font-size: 4rem;
    color: #08413C;

    cursor: pointer;
}

.popup__content__text {
    text-align: center;
    font-size: 2rem;

    color: #0E675F;
}