.popup {
    width: 100vw;
    height: 100vh;

    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1a1a1a70;
    backdrop-filter: blur(1px);

    z-index: 10;
}

.popup__content {
    width: 35vw;
    height: 40vh;

    background: #f5f5f5;
}