.body-layout {
    display: flex;
    min-height: 100vh;
}

.body-layout__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
    color: #1a1a1a;
}