.auth-box {
    width: 45vw;
    min-width: 310px;
    height: 94vh;
    min-height: 550px;
    overflow: hidden;

    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2; /*f2f2f2d3*/

    margin-right: 3vh;
    box-sizing: border-box;
    /*box-shadow: 0px 0px 5px #6C757D;*/
    border-radius: 30px;
    border: 5px solid #08413C;
    z-index: 0;
}

.auth-box__background {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .07;
    z-index: -1;
}

.auth-box__background__image {
    width: 100%;
    height: auto;
    max-height: 100%;
    aspect-ratio: 1/1;
}

.auth-box__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    text-align: center;
    color: #0E675F;
    margin-top: 10%;
    margin-bottom: 5%;
}

.auth-box__content {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.auth-box__content__inputs {
    width: 100%;
    font-size: 1.3rem;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth-box__content__button {
    margin-top: 20px;
    display: flex;
}

.auth-box__content__button.uno {
    justify-content: flex-end;
}

.auth-box__content__button.dos {
    justify-content: space-between;
}

.auth-box__link-extra {
    font-family: "Hind Siliguri";
    font-size: min(3.5vw, 1.4rem);
    text-align: center;
    color: #1a1a1a;
    position: absolute;
    left: 0;
    right: 0;
    bottom: clamp(50px, 18%, 25vh);
    transition: color 150ms ease-in-out;
    /*
    bottom: clamp(50px, 15%, 25vh);
    left: clamp(2%, 4%, 30px);*/
}

.auth-box__link-extra:hover {
    color: #117c4c;
}

.auth-box__footer {
    font-family: "Handelson Three", cursive;
    font-size: 4rem;
    font-weight: 500;
    color: #0E675F;

    position: absolute;
    bottom: 0;
}