.body-crear-prestamo {
    position: relative;
    min-height: calc(100vh - 75px);
    overflow: hidden;
}

.body-crear-prestamo__form {
    width: 50vw;
    height: 50vh;
    margin-left: 10%;
}

.body-crear-prestamo__img {
    width: 50%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 65/100;
    rotate: -2deg;

    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: -1;
}