.body-crear-prestamo {
    position: relative;
    min-height: calc(100vh - 75px);
    overflow: hidden;

    box-sizing: border-box;
}

.body-crear-prestamo__title {
    color: #0E675F;
    margin-left: 10%;
}

.body-crear-prestamo__form {
    width: 50vw;
    height: 50vh;
    font-size: 1.3rem;
    margin-left: 10%;

    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.body-crear-prestamo__form__limite-dias {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.body-crear-prestamo__img {
    display: none;
}

@media (width > 900px) and (height > 490px) {

    .body-crear-prestamo__img {
        display: block;
        width: 50%;
        max-width: 400px;
        height: auto;
        aspect-ratio: 65/100;
        rotate: -2deg;

        position: absolute;
        bottom: -10px;
        right: 0;
        z-index: -1;
    }
}