.body-register {
    width: 100%;
    height: 100vh;
    min-height: calc(500px + 3vh);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.body-register__grupo-ojos {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    margin: 1vw;
    align-items: flex-end;
    gap: 0.5rem;
}