.card {
    width: 400px;
    height: 250px;
    background: #ffffff;

    box-sizing: border-box;
    box-shadow: 0px 0px 5px #969696;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 1rem;
}

.card__image {
    width: 150px;
    height: auto;
}

.card__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: Arial, Helvetica, sans-serif;
}

.card__list__item {
    display: flex;
    flex-direction: column;
}

.card__list__item__title {
    font-size: 1.2rem;
    color: #0E675F;
}

.card__list__item__subtitle {
    color: #929292;
    text-shadow: 1px 1px 2px #d1d1d1;
}