.pub-card {
    width: 400px;
    height: 250px;
    background: #ffffff;
    font-family: "Hind Siliguri";
    font-size: 1.1rem;

    box-sizing: border-box;
    box-shadow: 0px 0px 5px #969696;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.pub-card__image {
    width: 40%;
    height: auto;
}

.pub-card__list {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pub-card__list__item {
    display: flex;
    flex-direction: column;
}

.pub-card__list__item__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0E675F;
}

.pub-card__list__item__subtitle {
    color: #929292;
    text-shadow: 1px 1px 2px #d1d1d1;
}