.div-password {
    display: flex;
    align-items: center;

    font-family: "Hind Siliguri";
    font-size: 1.2rem;

    gap: 10px;
    justify-content: space-between;
}

.div-password__span {
    text-align: center;
    color: #929292;
    text-shadow: 1px 1px 2px #d1d1d1;
}

.div-password__texto {
    text-align: center;
    text-shadow: 0px 0px 1px currentColor;
    transition: all 300ms ease;
}

.div-password__texto--no-mostrar {
    opacity: 0;
}

.div-password__barra {
    height: 15px;
    width: 55%;

    border: 2px solid #1a1a1a;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.div-password__barra__color {
    height: 100%;
    border-radius: 1rem;

    transition: all 300ms ease;
}