.div-password {
    display: flex;
    align-items: center;

    font-family: "Hind Siliguri";
    font-size: 1.2rem;
}

.div-password__texto {
    width: 120px;
    text-align: center;
    text-shadow: 0px 0px 1px currentColor;
    transition: all 300ms ease;
}

.div-password__texto--no-mostrar {
    opacity: 0;
}

.div-password__barra {
    height: 15px;
    width: min(300px, 100%);

    border: 2px solid #1a1a1a;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.div-password__barra__color {
    height: 100%;
    border-radius: 1rem;

    transition: all 300ms ease;
}