.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #08413C;
    color: #f2f2f2;
    padding: 5px;
}

.footer__title {
    font-family: "Handelson Three", cursive;
    font-size: 4rem;
    font-weight: 500;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}