.prestamo-card {
    width: 900px;
    height: 250px;
    background: #ffffff;
    overflow: hidden;
    font-family: "Hind Siliguri";
    font-size: 1.1rem;

    box-sizing: border-box;
    box-shadow: 0px 0px 5px #969696;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.prestamo-card__image {
    width: 40%;
    height: auto;
    object-fit: contain;
    margin-left: -40px;
    margin-right: -20px;
}

.prestamo-card__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prestamo-card__list__item {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.prestamo-card__list__item__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0E675F;
}

.prestamo-card__list__item__subtitle {
    color: #929292;
    margin-right: 5px;
    text-shadow: 1px 1px 2px #d1d1d1;
}