.aside-user {
    width: 310px;
    height: 100%;
    min-height: 500px;

    box-sizing: border-box;
}

.aside-user__content {
    width: 310px;
    min-height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.aside-user__barra {
    width: .1rem;
    height: 70vh;
    background: #0E675F;
}

.aside-user__img {
    width: 100%;
    height: auto;
}

.aside-user__content__data {
    width: 90%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5%;

    padding: 30px;
}

.aside-user__content__data__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
}

.aside-user__content__data__text__username {
    font-size: 2rem;
}

.aside-user__content__data__text__subtitle {
    color: #929292;
    text-shadow: 1px 1px 2px #d1d1d1;
    transition: all 200ms ease-in-out;
}

.aside-user__content__data__text__subtitle--editando {
    color: #0E675F;
    box-shadow: #08413C;
}

.aside-user__content__data__text__descripcion {
    height: 100px;
    font-size: 1.1rem;
}

.aside-user__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}