.card-user {
    width: 100%;
    height: 140px;
    background: #EAFFF5;
    color: #383838;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #C9DACD;
}

.card-user__content__name {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-user__content__description {
    font-size: 1.1rem;
    font-weight: 400;
    max-height: 72%;
    overflow: auto;
}

.card-user__foto {
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}