.card-user {
    width: 100%;
    height: 120px;
    background: #EAFFF5;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #C9DACD;
}

.card-user__content__name {
    font-size: 1.4rem;
    font-weight: 600;
}

.card-user__content__description {
    font-size: 1.05rem;
    font-weight: 400;
}