.tend-body {
    height: 100%;
    display: flex;
    align-items: center;

    padding: 20px;
    gap: 1%;
}

.tend-body__podio {
    width: 60%;

    display: flex;
    flex-grow: 0;
    justify-content: space-evenly;
}

.tend-body__space {
    width: 2px;
    height: 100%;
    min-height: 400px;
    background: #0E675F;
}

.tend-body__lista {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}