header {
    height: 100vh;
    width: 140px;
}

.header__space {
    height: 100px;
    width: 140px;
}

.header__nav {
    width: 140px;
    height: 100vh;
    background: #EAFFEF;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.nav__img {
    width: 80px;
    height: auto;
}

.nav__bucher {
    width: 80px;
    height: 80px;
    background: #08413C;
    mask-image: url("../../../assets/img/logos/logoBucher.png");
}