* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: currentColor;
}

@font-face {
    font-family: "Handelson Three";
    src: url("../../assets/fonts/handelson-w00-three/Handelson-W00-Three.woff2") format("woff2"),
        url("../../assets/fonts/handelson-w00-three/Handelson-W00-Three.woff")  format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}